.publicPageLayout {
    width: 90%;
    margin-left: 5%;
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.siteHeader {
    height: 180px;
    width: auto;
}

.siteHeader-Logo {
    width: 160px;
    margin-bottom: 0.5%;
    float: left;
}

.siteHeader-Text {
    line-height: 180px;
    text-align: center;
    font-size: 3vw;
    color: red;
    text-shadow: 0.1vw 0.1vw black;
}

@media (max-width: 800px) {
    .siteHeader-Text {
        text-align: center;
        font-size: x-large;
        line-height: normal;
        padding-top: 3ch;
        color: red;
        text-shadow: 0.1vw 0.1vw black;
    }

    .publicPageLayout {
        margin-top: 10%;
    }
}

@media (max-width: 350px) {
    .siteHeader-Text {
        text-align: center;
        font-size: x-large;
        line-height: normal;
        padding-top: 2ch;
        color: red;
        text-shadow: 0.1vw 0.1vw black;
    }
}

.siteFooter {
    clear: both;
    position: fixed;
}

.siteSlider {
    margin: 10px auto;
    padding: 40px;
    width: 60%;
}