.publicPageLayout {
    width: 90%;
    margin: 0.5% 5%;
}

.siteHeader {
    height: 170px;
    width: auto;
}

.publicNavBar {
    top: 0.5%;
    clear: both;
    position: sticky;
    z-index: 1;
}

.siteHeader-Logo {
    width: 160px;
    margin-bottom: 0.5%;
    float: left;
}

.siteHeader-Text {
    line-height: 180px;
    text-align: center;
    font-size: 3vw;
    color: red;
    text-shadow: 0.1vw 0.1vw black;
}

@media (max-width: 801px) {
    .siteHeader-Text {
        text-align: center;
        font-size: x-large;
        line-height: normal;
        padding-top: 3ch;
        color: red;
        text-shadow: 0.1vw 0.1vw black;
    }

    .publicPageLayout {
        margin-top: 10%;
    }

    .siteSlider {
        margin-top: 10px;
        width: 600px;
        height: 250px;
        margin-right: auto;
        margin-left: auto;
    }

    .sliderImg {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }

    .mobileSiteSlider {
        width: 25rem;
        height: 10rem;
    }
}

@media (max-width: 350px) {
    .siteHeader-Text {
        text-align: center;
        font-size: x-large;
        line-height: normal;
        padding-top: 2ch;
        color: red;
        text-shadow: 0.1vw 0.1vw black;
    }

    .homeImg {
        width: 25rem;
        height: 25rem;
    }
}

.siteFooter {
    bottom: 0.5%;
    /*margin-right: 5%;*/
}

.sliderImg {
    height: 210px;

}

.mobileDropdown {
    text-align: center;
}

.openingTime_Closed {
    color: red;
}

.openingTime {
    text-decoration: underline;

}

.homeAbout {
    padding: 10% 20%;
    text-align: center;
}

.prodDiv {
    margin-top: 0.14rem;
    text-align: center;
}

.prodImg {
    width: 20rem;
    height: 20rem;
}

.ui.grid {
    margin-top: 0.14rem !important;
    margin-bottom: 1rem !important;
}

.homeImg {
    width: 25rem;
    height: 25rem;
}

.modal_description {
    padding: 0px 10px;
    white-space: pre-wrap;
}

.findUs_OpeningTime {
    text-align: center;
}

.myAccHeader {
    text-align: center;
}

.PayPal_Button {
    text-align: right;
}

.offerimage {
    width: 7rem;
    vertical-align: top;
    margin-left: -7rem;
}

.threefor10image {
    position: relative;
    width: 7rem;
    vertical-align: top;
    margin-left: -7rem;
    left: 7rem !important;
}

.conf {
    text-align: center;
    margin: 0 20vw;
}

.signUpCheckbox {
    font-size: large;
}

.collectButton {
    color: black !important;
}

.Allergens {
    font-size: small;
    font-style: italic;
    color: red;
}

.Allergens_Email {
    color: blue;
    text-decoration: underline;
}