
/*
    this css file is included in index.jsx file so all child components of this file will have access to it.
 */


.pagePosition{
    padding-top: 80px;
    margin-left: 250px;
    margin-right: 50px;
}

.menu-spacing{
    margin: 30px 20px;

}

.add_items_positioning{
    margin-left: 25px;
    margin-right: 25px;
}

.display_block_no_liststyle li{
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.font_size_label{
    font-size: large;
}